# Python artifacts
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.pyo
*.pyd
*.pkl

# Jupyter/IPython
.ipynb_checkpoints/

# VSCode & IDE settings
.vscode/
.idea/

# Databricks asset bundle output
.bundle/
.bundle.lock
databricks.yml.lock
databricks.venv/

# Environment variables and secrets
.env
.env.*

# Logs and outputs
*.log
logs/
output/
coverage.xml
htmlcov/
test-results/

# Virtual environments
.venv/
venv/
env/

# OS junk
.DS_Store
Thumbs.db

# Build/test
dist/
build/
site/
coverage/

# dbx-specific
.dbx/
.dbx_tmp/

# DLT pipeline output cache
.dlt/

# Databricks CLI auth
~/.databrickscfg
